<h1>List of Channels Subscribed To</h1>

<a>Click on the star next to a channel to favorite it and see its most recent videos later</a>

<ul>
  <% @subscribed_channels.each do |channel_id| %>
    <% channel_username = Channel.where({ :youtube_api_channel_id => channel_id }).first.channel_name %>
    <li><%= channel_username %></li>
  <% end %>
</ul>


<% #need to figure out how to do the star thing like in verybest bookmarks. may have to wait until class %>
<% #perhaps a form here to take you to youtubes/show where you then see the subscriptions and the vidoes %>
