<h1>List of Channels Subscribed To</h1>

<a>Click on the star next to a channel to favorite it and see its most recent videos later</a>

<ul>
  <% subscribed_channels = ChannelSubscription.where({ :user_id => current_user.id }) %>
  <% subscribed_channels.each do |subscribed_channel| %>
    <li>
      <% channel = subscribed_channel.channel %>
      <%= channel.channel_name %>
      <% #channel.channel_pfp_url %>
      <img src="<%= channel.channel_pfp_url %>" height="100px">
      <%= channel.channel_url %>     
    </li>
  <% end %>
</ul>

<form action="/see_videos">
  <button>
    See Most Recent Videos
  </button>
</form>


<% #to do the star thing, I have to refresh the page each time they click on a star %>
<% #perhaps a form here to take you to youtubes/show where you then see the subscriptions and the vidoes %>
