<h1>List of Channels Subscribed To</h1>

<a>Click on the star next to a channel to favorite it and see its most recent videos later</a>

<% #need to create a .each loop with each subscribed channel in subscribed_channels %>
<% #need to figure out how to do the star thing like in verybest bookmarks. may have to wait until class %>
<% #perhaps a form here to take you to youtubes/show where you then see the subscriptions and the vidoes %>


