<h1>List of Most Recent Videos by Channel</h1>

<a>Preliminary stuff rn. I would like to categorize it a bit better</a>

<%= @subscribed_channels %>

<ul>
  <% @outputs.each do |video_title| %>
    <li>
      <%= video_title %>
    </li>
  <% end %>
</ul>
