<h1>List of Most Recent Videos by Channel</h1>

<a>Preliminary stuff rn. I would like to categorize it a bit better</a>

<ul>
  <% most_recent_videos = RecentVideo.where({ :user_id => current_user.id }) %>
  <% most_recent_videos.each do |most_recent_video| %>
    <li>
      <% video = most_recent_video.video %>
      <%= video.title %>
      <% #video.thumbnail_url %>
      <img src="<%= video.thumbnail_url %>" height="300px">
    </li>
  <% end %>
</ul>
