<h1>List of Most Recent Videos by Channel</h1>

<a>Preliminary stuff</a>
<a>Need to add options to save a video to watch later or not interested, and organize by channel + do bootstrap grid format</a>
<a>if you have time, make it so that each channel has two options for shorts and main videos</a>

<ul>
  <% @favorited_channels_recent_videos.each do |most_recent_video| %>
    <li>
      <% channel = most_recent_video.youtube_channel %>
      <%= most_recent_video.title %>
      <% #video.thumbnail_url %>
      <a href="<%= most_recent_video.video_url %>" target="_blank" rel="noopener noreferrer">
        <img src="<%= most_recent_video.thumbnail_url %>" height="300px" alt="Thumbnail for <%= channel.channel_name %>'s latest video">
      </a>
          <% #GP-TA told me that _blank opens in a new tab, rel= stuff is good for security/privacy reasons, and alt= is good for issues when image isn't shown/for accessibility purposes %>
    </li>
  <% end %>
</ul>
